body {
	background-color:lightgreen;
}
section {
	height:auto;
}
.quote {
	~webkit~animation~delay:6s;
}
.content {
	padding:0px 150px 0px 150px;
}	
h1 {
	font-family: 'Tangerine', serif;
	font-size: 60px;
	letter-spacing: 10px;
	text-shadow: 4px 4px 4px #aaa;
}
button {
	background-color:#33CCFF;
}
#name {
	margin-left:50px;
}
#profile {
	margin-left:50px;
}
#profile img{
	border-radius:120px;
	height:200px;
	width:200px;
}
#skills {
	border-radius:120px;
	height:200px;
	width:200px;
}
.row {
	margin:20px;
}
#lang {
	display:inline;
}
#sub_lang {
	display:none;
}
#sub_icons {
	display:none;
}
#git{
	height:35px; 
	width:35px; 
	border-radius:5px; 
}
.tab_skills {
	display:none;
}

/* --- contact form  ---- */
#one {
	width:100%;
	height:50px;
}
#two {
	width:100%;
	height:50px;
}
#three {
	width:100%;
	height:250px;
}
#submit {
	margin-left:20px;
	width:120px;
	height:40px;
}


.centered {
	text-align: center;
}

.icon1 {
	color:black;
}